{{- $username := . -}}
{{- if eq $username "oscarvgg" -}}
<a href="/authors/oscar-vicente-gonzalez-greco/" class="inline-flex items-center justify-center">
  <div class="avatar mr-3">
    <div class="w-12 h-12 rounded-full">
      <img src="https://www.gravatar.com/avatar/aa59488aa5bff84d04af399e4135a10e104192dd3512f4643ae961d3c890c6aa?s=40" alt="Author's bio"/>
    </div>
  </div>
  <div class="text-left">
    <p class="text-base-content text-sm">written by Oscar Gonzalez</p>
  </div>
</a>
{{- end -}}
