<section class="flex flex-col w-full">
  <div class="bg-base-content/10 my-10 mx-1 h-px"></div>
  <footer class="footer footer-center p-10 text-base-content rounded container mx-auto">
    <div class="grid grid-flow-col gap-4">
      <a href="/" class="link link-hover">Home</a>
      <a href="/blog/" class="link link-hover">Blog</a>
      <a href="/help/" class="link link-hover">Help</a>
      <a href="/about/" class="link link-hover">About</a>
      <a href="/about/privacy-policy/" class="link link-hover">Privacy Policy</a>
      <a href="/about/terms-of-service/" class="link link-hover">Terms of Service</a>
    </div>
  </footer>
</section>
