<section id="waiting-list" class="mt-16">
  <div class="hero md:p-16">
    <div class="hero-content flex-col lg:flex-row space-x-4">
      <div>
        <h2>Download Align for free</h2>
        <p class="py-6">Align is a powerful tool for staying focused and getting things done. Customize, prioritize, and visualize your tasks at a glance; sync your schedule across all devices, and get timely notifications.
Get ready to align your time and conquer your day.</p>
        <div class="flex gap-4 justify-left">
          <a target="_blank" href="https://betalist.com/startups/align-day?utm_campaign=badge-align-day&amp;utm_medium=badge&amp;utm_source=badge-featured">
            <img alt="Align - Time blocking app that helps you plan, organize, and track your daily tasks | BetaList" height="40" style="height: 40px" src="https://betalist.com/badges/featured?id=117212&amp;theme=color">
          </a>
          {{ partial "app-store-badge.html" (dict "campaign" "web_waiting_list") }}
        </div>
      </div>
      <div class="card flex-shrink-0">
        <div class="ml-embedded" data-form="b1TLrP"></div>
      </div>
    </div>
  </div>
</section>
