<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
  {{ .Scratch.Set "title" "Oh no!" }}
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "navbar.html" . }}
  <div class="md:container mx-auto pt-10 px-4">
    <article>
      <div>
        <div class="prose md:prose-xl mx-auto">
          <h1>Oh no!</h1>
        </div>
      </div>
      <div class="h-20"></div>
      <div class="prose md:prose-xl mx-auto">
        <p>There's nothing you can't recover from; let us help you get back on track. Do you want to go to the <a href="/">home</a> or check our <a href="/blog/">blog</a>?</p>
      </div>
    </article>
  </div>
  {{ partial "waitlist.html" . }}
  {{ partial "footer.html" . }}
  {{ partial "linkedin.html" . }}
</body>
</html>
